@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    display: table;
    height: 10em;
    width: 100%;
    background-image: url("img/code-pourron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.h1 {
    color: white;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    font-size: 100%;
    padding-left: 2em;
}
.row {
    padding-bottom: 3em;
    width: 100%;
    padding-left: 2em;
}
.card {
    box-shadow: 0px 10px 10px grey;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
h2 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}
nav {
    box-shadow: 0px 10px 10px grey;
}
footer {
    box-shadow: 0px -10px 10px grey;
    padding-top: 1em;
    text-align: center;
}