{% extends "base.html.twig" %}

{% block title %}Médiatheque Click&collect About{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1>About</h1>
            <img class="rounded mx-auto d-block" src="{{ asset('/img/KynZo_Logo.jpg') }}" alt="Logo-KynZo">
        </div>
    </div>
{% endblock %}