{% extends "base.html.twig" %}

{% block title %}Médiatheque Click&collect Catalogue{% endblock %}

{% block body %}
    <header class="header">
        <h1 class="h1">HOME</h1>
    </header>
{% endblock %}