{% extends 'base.html.twig' %}

{% block title %}New Livres{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Ajouter un Livres</h1>

            {{ include('livres/_form.html.twig') }}

            <a href="{{ path('livres_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}